table {
    width: 100%;
  }
  
  tr.student-detail-row {
    height: 0;
  }
  
  tr.student-element-row:not(.student-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.student-element-row:not(.student-expanded-row):active {
    background: #efefef;
  }
  
  .student-element-row td {
    border-bottom-width: 0;
  }
  
  .student-element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    box-shadow: inset 2px 3px 8px #c1c1c1;
    border-radius: 8px;
  }
  
  .student-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .student-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .student-element-description {
    padding: 16px;
  }
  
  .student-element-description-attribution {
    opacity: 0.5;
  }